* {
    margin: 0;
    
}
/*css untuk header dengan menambahkan margin*/
.header {
    margin: 20px 20px 0;
}
/*Css untuk flex-box/container */
.flex-container {
    display: flex;
    align-items: flex-start;
    background-color: #b69c49;
    width: auto;
    margin: 10px;
    line-height: 20px;
    padding: 15px;
  }
  
/*Css untuk isi dari Flexbox dengan Id webm*/
  #webm {
    border-radius: 15px;
    background-color: #4295d9;
    margin: 15px;
    font-size: 35px;
    padding: 10px;
    
    
  }
  /*Css untuk isi dari Flexbox dengan Id wm*/
  #wm {
    border-radius: 15px;
    background-clip:20px;
    background-color: #8dd775;
    width: 50px; 
    text-align: right;
    color: white;
    margin: 15px;
    font-size: 35px;
    padding: 10px;
    flex-grow: 5;
    flex-direction: row-reverse;
  }
  
/*Css untuk Konversion suhu dengan section atau seperti berbentuk kartu/kertas*/
  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    border: 1px solid transparent;
    margin: 10px 40px 40px 40px;

    background-color: #f4f3f1;
}
/*Css untuk box seperti secarik kertas untuk tambahan sidebar*/
.card {
    box-shadow: 0 4px 8px 7px rgba(99, 238, 53, 0.663);
    /* transition: 0.3s; */
    border: 1px solid transparent;
    margin: 20px 20px 20px 10px;
    background-color: #ffffff;
    size: 30%;
}
  /*Hover untuk konversi suhu*/
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/*Hover untuk tambahan di sidebar*/
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(99, 238, 53, 0.663);
}
/*Css untuk margin*/
.pgr {
    margin: 15px;
}
/*Css untuk isi Tombol Konvert,Reset,Reverse*/
.button2{
    margin: 4px;
    border-radius: 4px;
    height: 25px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}
/*Css untuk margin LAGI !!*/
.mt {
    margin-top: 10px;
}
/*Css untuk bagian dibawah dari tombol*/
.button-end {
    display: flex;
    justify-content: start;
    margin: 0 0 0 60px;
}
/*Css untuk Box input*/
.box {
    border: 1px solid;
    width: 90%;
    height: 80px;
    padding: 10px;
    margin: 0 0 10px 50px;
    box-sizing: border-box;
}
/*Css untuk Sidebar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
 
}
/* Tadinya INI adalah Css tambahan untuk SideBar dengan tag "a"*/
/*.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
*/
/*Css untuk Sidebar Saat Button/ tombol ditutup*/
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*Css untuk SideBar Saat Button/ Tombol Dipencet*/
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #36a8d1;
  border-radius: 4px;
  color: white;
  padding: 9px 9px 9px 9px;
  border: none;
}
/*Css untuk Hover dari tombol*/
.openbtn:hover {
  background-color: #8efb86b5;
}
/*Css untuk Main Section*/
#main {
  transition: margin-left .5s;
  padding: 16px;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;} 
}
